@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

header h1 img{
	width: 100%;
	height: auto;
}

#t_h1{
	width: 100%;
	position: relative;
	
}

#t_h1 p{
	position: absolute;
	top: 200px;
	left: 50px;
	color: #fff;
	font-size: 5em;
	/* font-family: "游ゴシック",YuGothic; "ヒラギノ角ゴ Pro W3"; */

}

#t_h1 img{
	width: 100%;
}


#tpfmin hr{
  width: 70%;
  margin: auto;
  
}

#tpfmin div section p{
text-align: center;
font-size: xx-large;
}

.sld{
    margin: 100px auto 60px;
    width: 80%;
	list-style-type: none;
/*	height: auto;*/
}

.sld:first-child{
	margin-top: 50px;
}

.sld li{
	margin-bottom: 200px;
}

.sld li a{
	display: block;
/*	margin: auto;*/
}

.sld li a img{
	display: block;
    height: 269px;
    width: 518px;
	margin: auto;
	
}

#ab img{
	width: 521px;
	height: 269px;
}
#sn img{
	width: 605px;
	height: 284px;
}
#hs img{
	width: 546px;
	height: 277px;
}





#wkttl{
	width: 100%;
	height: auto;
	margin: 100px 0;
}
section h2{
	text-align: center;
	font-size: xx-large;
}



.wk{
	margin: 70px 0 0 50px;

}

.wk dl{
	 display: flex;
  	flex-wrap: wrap;
	/* padding-left: 70px; */
/*	padding-bottom: 100px;*/
}

.wk dl dt{
	width: 31%;
	font-size: 140%;
	padding-bottom: 30px;
	text-align: right;
}

.wk dl dd{
  	width: 60%;
	  text-align: center;
}

#abm{
	width: 100%;
	height: auto;
	margin: auto;
}

#abm section p:last-child{
    margin: 100px auto 60px;
	font-size: 130%;
	text-align: left;
	width: 71%;
}

.js-animation.is-show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
  }


.js-animation {
	opacity: 0;
	visibility: hidden;
	transform: translateY(40px);
	transition: all 1s;
	  /* margin: 100px auto 100px; */
  }
  div#skill-g img{
	  width: 100%;
	  height: auto;
	  padding: 150px 20px ;
  }

  div#skill-g{
	  width: 800px;
	  height: 600px;
	  margin: auto;
  }


  #cntt{
	  width: 100%;
	  height: 100px;
	  display: flex;
	  justify-content: center;
	  margin-top: 100px;
  }
  #cntt:hover{
	  opacity: 0.7;
  }

  #cntt div{
	  margin: auto 0 auto auto;

  }
  #cntt div img{
	  width: 87px;
	  height: 101px;

  }


  #cntt p{
	  margin: auto auto auto 30px;
	  color: #000;

  }
 #cntt2 a{
	text-decoration: none;
 }
 #cntt2{
	 width: 100%;
	 height: 200px;
 }

 /* .js-animation {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
} */

 /* ここからフォーム */


#ctt{
	display: flex;
	justify-content: space-between;
}


#ctt div:last-child{
	border-left: solid 1px;
	width: 12%;
}

#ctt div:first-child{
	width: 82%;
}


#ctt div:first-child h1{
	text-align: left;
	margin-left: 120px;
}
#ctt div:first-child p{
	text-align: left;
	margin-left: 120px;
}

#ctt h1{
	font-size: xxx-large;
}



#fmmin{
	width: 76%;
	height: 1000px;
	margin: auto;
	border-bottom: solid 1px;
}

#fmtb{
	width: 100%;
	height: auto;
	margin: auto;


}
#fmtb tr{
	width: 40%;
	height: 150px;
	padding: 50px;
}

#fmtb tr:first-child td input{
	display: block;
    width: 70%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
    line-height: 1.5;
    height: 6em;

}
#fmtb tr:nth-child(2) td input{
	display: block;
    width: 70%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
    line-height: 1.5;
    height: 6em;

}
#fmtb tr:nth-child(3) td input{
	display: block;
    width: 85%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
    line-height: 1.5;
    height: 6em;

}
#fmtb tr:nth-child(4) td textarea{
	display: block;
    width: 85%;
	height: 200px;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
    line-height: 1.5;

}

#fmtb tr:last-child td input{
	display: block;
    width: 70%;
	height: 150px;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #2c2c2c;
    margin-top: 70px;
    line-height: 1.5;
	color: #fff;
}
#fmtb tr:last-child td input:hover{
		cursor: pointer;
		opacity: 0.7;
}

/* #fmtb tr:last-child td a{
	text-decoration: none;
} */

#fmmin2{
	display: flex;
	height: 1200px;

}

#tu{
	width: 12%;
	height: 1200px;
	border-left: solid 1px;
	position: absolute;
	right: 0;
}


#tu p{
	writing-mode: vertical-rl;
	font-size: xx-large;
	text-align: center;
	margin-left: 45%;
	letter-spacing: 30px;

}

/* ここからカレンダー */


.wrapper {
	margin: 15px auto;
	max-width: 700px;
  }
  .container-calendar {
	background: #ffffff;
	/* padding: 15px; */
	width: 300px;
	margin: 0 0 30px 10%;
	overflow: auto;
	/* float: left; */
  }
  .button-container-calendar button {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	background: #00a2b7;
	color: #fff;
	border: 1px solid #0aa2b5;
	border-radius: 4px;
	padding: 5px 10px;
  }
  .table-calendar {
	border-collapse: collapse;
	width: 100%;
  }
  .table-calendar th,
  .table-calendar td{
	padding: 10px;
	border: 1px solid #e2e2e2;
	text-align: center;
	vertical-align: top;
  }
  .date-picker.selected {
	font-weight: bold;
	color: #fff;
	background: #cc0000;
  }
  .date-picker.selected span {
	border-bottom: 2px solid currentColor;
  }
  /* 日曜 */
  .date-picker:nth-child(1) {
  color: red;
  }
  /* 土曜 */
  .date-picker:nth-child(7) {
  color: blue;
  }
  #monthAndYear {
	text-align: center;
	margin-top: 0;
  }
  .button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
  }
  #previous {
	float: left;
  }
  #next {
	float: right;
  }
  .footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
  }
  .footer-container-calendar select {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	background: #ffffff;
	color: #454545;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
  }

#wtfm,#weatherImage,#weatherBody{
	display: block;

	/* float: right;
	padding: 1% 20%; */
}
#wtfm{
	display: block;
	width: 30%;

	/* float: right;
	padding: 1% 20%; */
}
#weatherBody{
	padding-bottom:2%;
}

#ctw{
	display: flex;
	justify-content: center;
}
#dn{
	width: 300px;
	margin:2% 9% 0 5%;
}
